#nav{
    display:none;
}
table{
    border: 2px solid black;
}
th{
    border: 2px solid black;
    padding: 5px;
    text-transform:uppercase;
}
td:nth-last-child(1){
    border: 2px solid black;
}

td{
    border: 2px solid black;
}
tfoot{
    text-align: right;
}
img{
    -webkit-filter: grayscale(100%);
}